# Dependencias de Node
node_modules/

# Archivos de entorno y configuración local
src/config/.env
.env

# Archivos generados dinámicamente por la aplicación
.weather_cache.json

# Archivos del sistema operativo
.DS_Store
Thumbs.db